$default_gray: #49515d;
$default_green:#2eca7f;
$default_white:#fff;

body {
    font-size: 15px;
}

.template {
    background-image: url(../images/main_bg.png);
    background-color: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.highlight {
    color: $default_green;
}


        .navbar__item {
            padding: 8px 16px;
            text-decoration: none;
            color: $default_gray;
            font-size: 15px;
            opacity: 0.6;
            display: inline-block;
            position: relative;  
        }

        .navbar__item::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background-color: $default_green;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 0 auto;
            transition:all 0.15s ease-in-out;
        }

        .navbar__item:hover, .active-nav{
            opacity: 1;
        }

        .navbar__item:hover::after, .active-nav::after{
            width:25px;
        }

.page {
    border-radius: 15px;
    background-color: $default_white;
    box-shadow: 0px 15px 25px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
    visibility: hidden;
    height: 0;

    .page-header {
        background-color: $default_green;
        padding: 50px;
        background-image: url(../images/sp_main_bg.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-bottom: 25px;
        text-align: center;
        
        .header-left {
            width:30%
        }

        .header-right {
            width:70%;
        }

        h2 {
            color: $default_white;
            font-size: 44px;
            margin: 0;
        }

        .photo {
            max-width: 280px;
            margin-bottom: -75px;
            border: 3px solid $default_white;
            background-color: $default_white;
            box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 10%);
            transition: all 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
                transform:translateY(-7px);
            }
            
            img {
                max-width: 100%;
            }
        }

        .title-block {
            text-align: center;
            color: $default_white;

            h1 {
                font-size: 54px;
                font-weight: 700;
                margin: 30px 0 0;
            }

            .occupation{
                font-size: 18px;
                margin: 0;
            }
        }

        .social-link {
            text-align: center;
            margin-top: 20px;
            a {
                display: inline-block;
                width: 36px;
                height: 36px;
                border-radius: 24px;
                background-color: #fff;
                margin: 0 1px;
                color: #9e9e9e;
                text-align: center;
                box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 10%);

            .fab {
                line-height: 36px;
                font-size: 16px;
            }

                
            }
        }
    }
    .content-left {
        width:50%;
        padding:0 15px;
    }

    .content-right {
        width:50%;
        padding:0 15px;
    }

    .flex {
        display: flex;
    }

    .page-content {
        padding-top: 20px;
        padding: 30px 50px 50px;
       

        .block-title {
            
            h3 {
                font-size: 21px;
                margin: 5px 0 25px;
                font-weight: 600;
            }
        }

        p {
            font-size: 15px;
            margin: 0 0 10px;
            font-weight: 400;
        }

        .info-list {
            list-style: none;
            .title {
                min-width: 120px;
                display: inline-block;
            }

            .value {
                color:$default_gray;
                opacity: 0.6;
            }

            li {
                margin: 5px 0;
            }

            a {
                text-decoration: none;
            }

            .email {
                color: $default_green;
                opacity: 1;
            }
            
        }
    }
}

.active-page {
    visibility: visible;
    height: 100%;
}

.timeline{
    position: relative;
}

.timeline-item {
    position: relative;
    padding: 15px 20px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 20%);
    border-left: 2px solid #2eca7f;
    transition: all ease-in-out;

    &:hover {
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    }

    .timeline-title {
        font-size: 16px;
        line-height: 1.2em;
        font-weight: 600;
    }

    .item-period {
        display: inline-block;
        color: $default_green;
        font-size: 12px;
        line-height: 1.2em;
        margin-bottom: 8px;
    }

    .item-small {
        display: inline-block;
        color: #9e9e9e;
        font-size: 12px;
        line-height: 1.2em;
        margin-left: 5px;
        padding-left: 8px;
        border-left: 1px solid #e0e0e0;
        margin-bottom: 8px;
    }


}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $default_white;
    border: 2px solid $default_green;
    border-radius: 50%;
    z-index: 1;
    left:-30px;
  }

.timeline-item::after {
    content: '';
    position: absolute;
    width: 29px;
    height: 2px;
    background-color: $default_green;
    z-index: 0;
    left:-30px;
    top:20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #e0e0e0;
    top: 0;
    bottom: 0;
    margin-left: -3px;
}

.skill-info {
    h4 {
        font-size: 0.8em;
        margin: 0 0 5px;
    }
    .skill-container {
        background-color: #f5f5f5;
        border: 1px solid #e0e0e0;
        height: 10px;
        margin-bottom: 12px;
        width: 100%;
    }

    .skill-percentage {
        background-color: $default_green;
        height: 10px;
        
    }
    .skill-1 {
        width: 88%;
    }

    .skill-2 {
        width: 75%;
    }

    .skill-3 {
        width: 60%;
    }

    .skill-4 {
        width: 95%;
    }

    .skill-5 {
        width: 75%;
    }

    .skill-6 {
        width: 92%;
    }
}

.services-block {
    text-align: center;
    margin-bottom: 30px;

    .service-info {
        padding:0 15px;
    }

    .service-image {
        width: 120px;
        height: 120px;
        background-color: #fafafa;
        border-radius: 100px;
        margin: 0 auto;
        transition:all 0.3s ease-in-out;

        &:hover {
            transform: translateY(-7px);
            box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
        }
    }

    img {
        max-width: 100px;
        height: 64px;
        margin: 28px 0;
    }

    h4 {
        font-size: 17px;
        padding: 20px 0 0
    }
}
.client-content {
    justify-content: space-around;
}

.client-block {
    opacity: 0.4;
    text-align: center;
    transition:all 0.3s ease-in-out;

    &:hover {
        opacity: 1;
    }

    img {
        max-width: 80px;
    }
}

.contact-info-block {
    display: flex;
    margin-bottom: 20px;
    .ci-icon {
        border-radius: 20px;
        background-color: #fafafa;
        width: 36px;
        height: 36px;
        position: relative;
        text-align: center;
        margin-top: 10px;  
        i {

            position: relative;
            font-size: 18px;
            color: #2eca7f;
            text-align: center;
            line-height: 36px;
        }
    }

    .ci-text {
        display: inline-block;
        margin-left: 15px;
        h5 {
            font-size: 0.83em;
        }
    }
}

.form-group {
    position: relative;
    padding-left: 40px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 0 25px;
    i {
        position: absolute;
        top:0;
        left:0;
        width: 40px;
        line-height: 42px;
        background-color: #fafafa;
        color: #bdbdbd;
        text-align: center;
        height:100%;
        font-size: 18px;
    }

    label {
        position: absolute;
        top:0;
        left:54px;
        opacity: 0.4;
        position: absolute;
        top: 9px;
        font-size: 15px;
        font-weight: 400;
    }

    input {
        position: relative;
        background: transparent;
        height:42px;
        border: 0;
        border-radius: 0;
        &:focus {
            background: transparent;
            box-shadow: none;
            outline: none;
        
        }
    }

    textarea {
        border: 0;
        border-radius: 0;
    }
}

.submit-btn {
    border:0;
    background-color: $default_green;
    color: $default_white;
    padding: 0.5em 1.5em;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 30%);
    font-weight: 500;
}

footer {
    text-align: center;
    margin-top: 30px;

    .copyrights {
        margin-bottom: 12px;
        font-size: 12px;
        color: #9e9e9e;
    }
    a {
        text-decoration: none;
        color: $default_green;
    }
}

